[mysqld]

# bind-address      = 10.200.10.1
port              = 3306
# skip_name_resolve = true

# basedir         = /opt/mysql
datadir         = ~/.local/share/mysql
# lc_messages_dir = /opt/mysql/share
# lc_messages     = en_US

sql_mode              = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
block_encryption_mode = aes-256-ecb
